<header>
  <div class="header-container">
    <h2>
      <a href="http://localhost:3333/homePage">Josue Ngoma</a>
    </h2>
    <div id="header-container-left">
      <a href="http://localhost:3333/homePage/cv" class="td">CV</a>
      <p class="barre">
        |
      </p>
      <a href="#" class="td">Projets</a>
      <p class="barre">
        |
      </p>
      <a href="http://localhost:3333/homePage/contact" class="td">Contacts</a>
    </div>
  </div>

</header>
