<header>
  <div class="header-container">
    <h2>
      <a href="../../index.html">Josue Ngoma</a>
    </h2>
    <div id="header-container-left">
      <a href="cv.html" class="td">CV</a>
      <p class="barre">
        |
      </p>
      <a href="projets.html" class="td">Projets</a>
      <p class="barre">
        |
      </p>
      <a href="contacts.html" class="td">Contacts</a>
    </div>
  </div>

</header>
