
.footer-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hr {
    height: 1px;
    width: 100%;
    background-color: var(--noir-barre);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.p-adrss {
    text-decoration: none;
    margin: 10px 0 15px 0;
    font-size: 16px;
    color: var(--noir-adrss);
}

#a-adrss {
    text-decoration: none;
    color: var(--noir-adrss);
}

#a-adrss:hover {
    text-decoration: underline;
}

i {
    color: var(--noir-titre);
}
