
:root {
    --noir-autre: rgb(31, 30, 30);
    --noir-titre: rgb(34, 34, 34);
    --noir-adrss: rgb(48, 47, 47);
    --noir-barre: rgb(131, 130, 130);
}

header, footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}


#header-container-left {
    display: flex;
    column-gap: .8em;
}

h2 a {
    text-decoration: none;
    font-size: 20px;
    color: var(--noir-autre);
}

#header-container:hover {
    text-decoration: underline var(--noir-autre);
}

.td {
    text-decoration: none;
    font-size: 16px;
    color: var(--noir-autre);
}

.barre {
    font-size: 16px;
}

#a-adrss:hover,
h2 a:hover {
    text-decoration: underline;
}